.toy-preview {
    background-color: var(--item-color);
    border-radius: 1em;
    padding: 1em;
}

.toy-preview h4 {
    font-size: 1.2em;
    margin-block-end: .3em;
}

.toy-preview .labels {
    margin-block: 1em;
}

.remove-btn {
    background-color: transparent;
}

.fa.fa-trash::before {
    content: '\f2ed';
}

.fa.fa-edit::before {
    content: '\f044';
}