html {
    font-family: monospace;
}

body {
    margin: 0;
    background-color: var(--main-color);
}

button {
    cursor: pointer;
    border: none;
}

a {
    text-decoration: none;
    color: unset;
    cursor: pointer;
}